<footer>
  <div class="even-columns">
    <div class="footer-column">
      <nav class="footer-nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Shop Products</a></li>
          <li><a href="#">Shipping and Refunds</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Career</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer-column">
      <ul aria-label="social-links" class="social-list">
        <li>
          <a aria-label="facebook" href="#">
            <svg class="social-icon">
              <use xlink:href="images/social-icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>

        <li>
          <a aria-label="instagram" href="#">
            <svg class="social-icon">
              <use xlink:href="images/social-icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a aria-label="youtube" href="#">
            <svg class="social-icon">
              <use xlink:href="images/social-icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-column footer-form">
      <form action="">
        <input type="email" name="email" id="email" />
        <button class="button">Go</button>
      </form>
    </div>
  </div>
  <p>Copyright &#169; Dolma Bhuti</p>
</footer>