<header>
  <ul class="nav-list-container">
    <li class="header-item"><h1 class="header-logo">Jia's Shop</h1></li>
    <li class="nav-item">
      <a id="nav-products" href="/on-the-menu">Shop Products</a>
    </li>
    <li><a id="log-in" href="/login">Log In</a></li>
    <li>
      <a id="sign-up" href="/registration">Sign Up</a>
    </li>
  </ul>
</header>