<div class="hero">
  <div class="hero-container">
    <div class="hero-column">
      <h1>The #1 Canadian meal kit</h1></div>
    <div class="hero-column">
      <p>Chef-inspired dinners, ready-to-eat meals and fresh ingredients at your
        fingertips.</p></div>
    <div class="hero-column">
      <a href="/registration"><button class="hero-register-button">Get Started</button></a></div>
    <div class="hero-column">
      <a
        class="hero-video-link"
        href="https://www.youtube.com/watch?v=n7WJT91E8q8&t=1s"
      ><img src="/images/play-circle.svg" alt="PlayButton" />
        WATCH THE VIDEO</a>
    </div>

  </div>

  <div class="hero-container-3">
    <img src="/images/lily-banse--YHSwy6uqvk-unsplash.jpg" alt="Meals" />
  </div>
</div>
<h1 class="how-it-works">How it works</h1>

<div class="hero-container-2">
  <div class="hero-column2">
    <img
      src="/images/john-fornander-jJIb2e7Jkcs-unsplash.jpg"
      alt="chef cooking"
    />
    <div>
      <p>We create original recipes</p>

      <p>Our head chef, Jordana Rebner, and her culinary team develop 40+ unique
        and inspiring recipes every week.
      </p>

    </div>
  </div>
  <div class="hero-column2">
    <img src="/images/recipe_3.jpg" alt="food" />
    <div>
      <p>You select your dinners
      </p>
      <p>Choose from a variety of nutritious and delicious recipes, including
        keto, paleo and vegan options.
      </p>
    </div>

  </div>
  <div class="hero-column2">
    <img
      src="/images/szymon-fischer-9Cwg1ym3SCs-unsplash.jpg"
      alt="Delivery man"
    />
    <div>
      <p>We deliver it to your door
      </p>
      <p>The farm-fresh ingredients required to cook your chosen recipes are
        delivered weekly in our cooler box.
      </p>
    </div>
  </div>
  <div class="hero-column2">
    <img
      src="/images/kevin-mccutcheon-APDMfLHZiRA-unsplash.jpg"
      alt="Cooking at home"
    />
    <div>
      <p>You turn into a home chef
      </p>
      <p>Inspire joy at your table with restaurant-quality meals. With our
        perfect portions, no food is wasted.
      </p>
    </div>
  </div>
</div>