<section class="hero-container">
  <div class="hero-text-item">
    <p class="hero-main-text">Elevate Your Style</p>
    <p class="hero-sec-text">
      Unleash your phone's potential and protect it in style with our
      exceptional selection of phone cases.
    </p>
    <button class="hero-btn">Sign up</button>
  </div>
  <div class="hero-img-item">
    <img src="images/PC26-06.JPG" alt="" />
  </div>
</section>