{{#if user}}
  <!--show a list of all products with edit button and delete button-->
  <section class="list">
    <div class="product-list-container">
      <!--loop through all items that was sent in {{data}} -->
      <div class="product-list-item"></div>
    </div>
  </section>
{{/if}}