<section class="products">
  <h2>iPhone Cases</h2>
  <div class="iphone-grid">
    {{#each data}}
      <div class="product-card">
        <div class="product-img">
          <img src="/{{filename}}" alt="Image" />

        </div>
        <div class="product-details">
          <h4><a href="">{{ProductName}}</a></h4>
          <p>
            {{ProductDesc}}
          </p>
          <hr />
          <div class="product-price">{{ProductPrice}}</div>
          <div class="product-links">
            <a href="#">Add To Cart</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>