@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-dominant: #041c32;
  --color-main: #f4f3f2;
  --color-accent: #dda01d;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-main);
  color: var(--color-dominant);

  overflow-x: hidden;
}
/* a {
  text-decoration: none;
  font-size: 18px;
  color: inherit;
}

li {
  list-style: none;
} */
ul {
  list-style: none;
}
button,
.button {
  border: none;
}

/* general */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/* primary header */
.logo {
  margin: 2rem;
}
.primary-header {
  align-items: center;
  justify-content: space-between;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.primary-navigation a {
  text-decoration: none;
  font-size: 18px;
  color: inherit;
}
.mobile-nav-toggle {
  display: none;
}
/* for 35em and smaller*/
@media (max-width: 35em) {
  .primary-navigation {
    --gap: 2em;

    position: fixed;
    z-index: 1000;
    inset: 0 0 0 50%; /*shorthand for top bottom left right */

    flex-direction: column;
    padding: min(30vh, 10rem) 2em;

    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);

    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    /* background: url("../static/images/bars-solid.svg"); */
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }
}

/*for 55em and bigger*/
@media (min-width: 55em) {
  .primary-navigation {
    padding-block: 2rem;
    padding-inline: clamp(3rem, 8vw, 7rem);
  }
}

/* FOOTER  */
footer {
  background-color: var(--color-dominant);
  color: var(--color-main);
}
.footer-container {
  margin: auto;
}

.footer-row {
  display: flex;
}
.footer-list li a {
  text-decoration: none;
  color: inherit;
}
.app-store-logo {
  width: 8em;
}
ul[aria-label="Social links"] img {
  width: 2em;
}

ul[aria-label="Social links"] a {
  display: flex;
  align-items: center;
  gap: 5px;
}
/* for 35em and smaller*/
@media (max-width: 35em) {
  .footer-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-col {
    margin-top: 2rem;
  }
  .footer-col li {
    margin-top: 0.5rem;
  }
}
/*for 35em and bigger*/
@media (min-width: 35em) {
  .footer-row {
    justify-content: space-evenly;
    height: 30vh;
    padding-top: 3rem;
  }

  .footer-col h4 {
    padding-left: 5.5px;
  }
  .footer-col li {
    padding: 5px;
  }
}

/* HERO PART */
.hero-container {
  height: 70vh;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-container > div {
  height: 80%;
  color: var(--color-dark);
}
.hero-text-item {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.hero-img-item {
  width: 54%;
}
.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 0;
}
.hero-sec-text {
  font-size: 18px;
}
.hero-btn {
  background-color: #3882f6;
  color: #f9faf8;
  border: #3882f6;
  font-size: 18px;
  font-weight: bold;
  width: 120px;
  height: 30px;
  border-radius: 5px;
}
.hero-img-item > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5%;
}

/* CONTENT PART */
.content-container {
  width: 80%;
  margin: auto;
  display: grid;
  align-items: center; /* centers column within a column */
  justify-items: center; /* centers column within a column */
  grid-template-columns: repeat(4, 0.5fr);

  /*shorthand:  rows defined before the slash, columns after*/
  /* grid-template: 50px 50px /  50px 50px;  */
  /* column-gap: 10px;
row-gap: 100px; */
}
.product-card {
  /* 
box-shadow:0px 0px 6px#343a40; */
  width: 95%;
  box-shadow: 0 2px 7px var(--color-main);
  margin: 50px auto;
  background: var(--color-main);
  padding-bottom: 3rem;
}
.product-card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.product-details {
  padding: 30px;
}
.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: var(--color-dominant);
  text-decoration: none;
  transition: 0.3s;
}
.product-details h4 a:hover {
  color: var(--color-accent);
}
.product-links {
  text-align: right;
}
.product-links a {
  float: right;
  margin-left: 5px;
  color: var(--color-dominant);
  transition: 0.3s;
  font-size: 17px;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 600;
}
.product-links a:hover {
  color: var(--color-accent);
}

.product-price {
  float: left;
  padding-top: 20px;

  font-size: 18px;
  color: var(--color-accent);
  font-weight: 600;
}

/* PRODUCTS PAGE*/

.iphone-grid,
.airpod-grid {
  width: 80%;
  margin: auto;
  display: grid;
  align-items: center; /* centers column within a column */
  justify-items: center; /* centers column within a column */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/* Register Form  */
.register-wrapper,
.login-wrapper {
  width: 30%;
  margin: auto;
  height: 100%;
  margin-bottom: 5%;
  /* margin-left: 5%; */
}
.register-title,
.login-title {
  margin: 1rem 0rem;
}
.register-form-description {
  margin-bottom: 2rem;
}
.form-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.form-grid-items input {
  width: 100%;
  height: 2rem;
  margin-top: 0.5rem;
  border: var(--color-main) 2px solid;
}
.form-grid-items label {
  font-weight: bold;
}
.form-grid-items input:focus {
  border: var(--color-dominant) 2px solid;
}
.button {
  width: 100%;
  height: 3rem;
  font-weight: bold;
  font-size: 1rem;
}
.form-error-msg {
  color: red;
  font-size: smaller;
}
/*Checkbox */
.form-control {
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  margin-top: 0.5em;
}
input[type="checkbox"] {
  /* Step 1: Hide the Native Checkbox Input */
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: white;
  /* Not removed via appearance */
  margin: 0;
  /* Step 2: Custom Unchecked Checkbox Styles */
  font: inherit;
  color: inherit;
  width: 1.1em;
  height: 1.1em;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}
/*styled in order to represent the :checked state.*/
input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-accent);
  /* make the inner filled in state shaped as a checkmark */
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
/* when the input is :checked, make it visible with scale(1) with a nicely animated result thanks to the transition */
input[type="checkbox"]:checked::before {
  transform: scale(1);
  box-shadow: inset 1em 1em var(--color-accent);
}
/* Register Form Part Ends */

/*Product Description Page */

.small-product-container {
  width: 100%;
}
.small-product-container .row {
  display: flex;
  width: 60%;
  margin: auto;
  border: solid 1px white;
  align-items: center;
}
.column-image {
  flex-basis: 50%;
}
.column-image img {
  width: 100%;
}
.column-description {
  flex-basis: 50%;
  font-size: 1.5em;
}

/* Shopping Cart Page */
.Cart-Body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #e3f0ff, #fafcff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-dominant);
}
.Cart-Container {
  width: 80%;
  height: 85%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;
}
.Cart-Header {
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Cart-Heading {
  font-size: 20px;
}
@media all and (max-width: 920px) {
  .nav-list-container {
    flex-wrap: wrap;
  }

  .nav-list-container > li {
    flex-basis: 40%;
    margin-bottom: 1rem;
  }
  .register-wrapper,
  .login-wrapper {
    width: 50%;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .content-container {
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 0;
  }
}
/* 
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  ...;  
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  ...;
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  ...;
} 
*/
