@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-dominant: #333333;
  --color-main: #fefefe;
  --color-accent: #dda01d;
  --color-green: #00838d;
  --color-input-border: #ccc;
  --color-product-card: #f8f8f8;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-main);
  color: var(--color-dominant);

  overflow-x: hidden;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding-bottom: 2rem;
  min-height: 80vh;
}
ul {
  list-style: none;
}
button,
.button {
  border: none;
}
a {
  text-decoration: none;
  color: var(--color-dominant);
}
/* general */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/* primary header */
.primary-header a {
  text-decoration: none;
  color: var(--color-dominant);
}
.logo {
  margin: 2rem;
}
.primary-header {
  align-items: center;
  justify-content: space-between;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.primary-navigation a {
  text-decoration: none;
  font-size: 18px;
  color: inherit;
}
.mobile-nav-toggle {
  display: none;
}
/* for 35em and smaller*/
@media (max-width: 35em) {
  .primary-navigation {
    --gap: 2em;

    position: fixed;
    z-index: 1000;
    inset: 0 0 0 50%; /*shorthand for top bottom left right */

    flex-direction: column;
    padding: min(30vh, 10rem) 2em;

    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);

    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    /* background: url("../static/images/bars-solid.svg"); */
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }
}

/*for 55em and bigger*/
@media (min-width: 55em) {
  .primary-navigation {
    padding-block: 2rem;
    padding-inline: clamp(3rem, 8vw, 7rem);
  }
}

/* FOOTER  */
footer {
  background-color: black;
  color: var(--color-main);
  margin-top: 2rem;
}
.footer-container {
  margin: auto;
}

.footer-row {
  display: flex;
}
.footer-list li a {
  text-decoration: none;
  color: inherit;
}
.app-store-logo {
  width: 8em;
}
ul[aria-label="Social links"] img {
  width: 2em;
}

ul[aria-label="Social links"] a {
  display: flex;
  align-items: center;
  gap: 5px;
}
/* for 35em and smaller*/
@media (max-width: 35em) {
  .footer-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-col {
    margin-top: 2rem;
  }
  .footer-col li {
    margin-top: 0.5rem;
  }
}
/*for 35em and bigger*/
@media (min-width: 35em) {
  .footer-row {
    justify-content: space-evenly;
    height: 30vh;
    padding-top: 3rem;
  }

  .footer-col h4 {
    padding-left: 5.5px;
  }
  .footer-col li {
    padding: 5px;
  }
}

/* HERO  */

.hero {
  width: 100%;
  min-height: 60;
  padding: 1rem 1rem;
  background-color: #f2eee1;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hero-container-3 {
  width: 45%;
  max-height: 80%;
}
.hero-container-3 img {
  margin: auto;
  width: 95%;
  object-fit: contain;
  border-radius: 20px;
  /* border-radius: 50%; */
}
.hero-video-link {
  color: var(--color-green);
  font-weight: 700;

  display: flex;
  align-items: center;
  gap: 1em;
}
.hero-register-button {
  width: 40%;
  height: 2.4rem;
  font-size: 1.1rem;
  font-weight: 900;
  background-color: var(--color-green);
  color: var(--color-main);
  border-radius: 100px 100px / 120px;
}
/* First paragraph */
.hero-column2 p:nth-of-type(1) {
  font-weight: 700;
}
.hero-column2 p {
  padding-top: 1rem;
}
.how-it-works {
  font-size: 1.7rem;
  font-weight: 800;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.hero-container-2 {
  width: 80%;
  height: 50%;
  margin: auto;
  padding-bottom: 6rem;

  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.hero-column2 {
  width: 80%;
  height: 90%;
  text-align: center;
}
.hero-column2 div {
  width: 100%;
}
.hero-column2 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
/* Product card (landing page AND products page)ß*/

.content h1 {
  font-size: 1.7rem;
  font-weight: 800;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.content-container {
  width: 80%;
  margin: auto;
  padding-bottom: 6rem;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.content-container a,
.main-content-container a {
  text-decoration: none;
  color: var(--color-dominant);
}
.content-container a:hover,
.main-content-container a:hover {
  color: var(--color-accent);
}
.product-card {
  width: 80%;
  height: 100%;
  margin-bottom: 1rem;
  text-align: left;
  background-color: var(--color-product-card);
}
.product-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding-left: 1rem;
  height: 12.5rem;
  font-size: smaller;
}
.product-links button {
  font-style: inherit;
  background-color: var(--color-product-card);
}
/* Product Description Page */
.main-product {
  width: 80%;
  height: 80vh;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-product img {
  width: 50%;
  height: 80%;
  border-radius: 5px;
  object-fit: cover;
}
.main-product-content {
  width: 40%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-product-content h2 {
  text-decoration: underline;
  text-underline-offset: 8px;
}
.main-product-content button {
  color: white;
  background-color: var(--color-dominant);
  padding: 1rem 2rem;
  margin-top: 1.5rem;
  font-size: 1rem;
}

/* Register Form  */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.form-container form {
  width: 50%;
  padding: 2rem;
  border-radius: 5px;
  background-color: var(--color-main);
  border: var(--color-input-border) solid 2px;
}
form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
form .user-details .input-box {
  width: 47%;
}
.register-email {
  flex-basis: 100%;
}
.user-details .input-box .details {
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--color-input-border);
  padding-left: 5px;
  border-bottom-width: 2px;
}
.user-details .input-box input:focus {
  border-color: var(--color-accent);
}
.form-title {
  font-weight: 500;
}

form .button {
  height: 40px;
  width: 100%;
}
form .button button {
  width: 100%;
  height: 100%;
  margin-top: 12px;
  border: none;
  background-color: var(--color-green);
  color: var(--color-main);
  font-weight: 500;
  font-size: large;
  border-radius: 5px;
  letter-spacing: 1px;
}
#login-form form {
  width: 40%;
}
#login-form form .user-details {
  flex-direction: column;
}
#login-form form .user-details .input-box {
  width: 100%;
}
@media (max-width: 480px) {
  .form-container form {
    width: 100%;
  }
}

.form-error-msg {
  color: red;
  font-size: smaller;
}
/* PRODUCTS PAGE*/
.main-content-container {
  width: 80%;
  margin: auto;
  padding-bottom: 6rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}
.main-product-card {
  height: 100%;
  margin-bottom: 1rem;
  background-color: var(--color-product-card);
  text-align: left;
}
.main-product-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.main-product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding-left: 1rem;
  height: 12.5rem;
  font-size: smaller;
}

.main-product-details {
  height: 74%;
}
.main-product-links {
  height: 29%;
}

.content h2 {
  padding: 2rem 1rem;
  text-align: center;
}

/* edit form*/

.edit-form-container > form,
.create-form-container > form {
  margin-top: 10%;
}

/* tables (data clerk dashboard and shopping cart) */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
.clerk-table-container {
  width: 80%;
  margin: auto;
  font-size: 0.8rem;
}
th,
td {
  padding: 2rem;
  text-align: left;
}
thead th:nth-child(1) {
  width: 11%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 8%;
}
thead th:nth-child(5) {
  width: 8%;
}
thead th:nth-child(6) {
  width: 8%;
}
thead th:nth-child(7) {
  width: 15%;
}

tbody tr:nth-child(odd) {
  background-color: var(--color-input-border);
}

tbody tr:nth-child(even) {
  background-color: var(var(--color-main));
}
.clerk-action {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.clerk-action button {
  background-color: var(--color-green);
  height: 2rem;
}

.clerk-action button a {
  color: var(--color-main);
}

/* shopping cart table and checkout page */
.table-data img,
.checkout-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.cart-container {
  width: 80%;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cart-table {
  margin-top: 2rem;
}
.cart-header {
  text-align: left;
  flex-basis: 50%;
}
.remove-link {
  text-align: right;
}
.remove-link a {
  color: var(--color-dominant);
}
.cart-list-table {
  font-size: 15px;
}

.cart-list-table th,
.cart-list-table td {
  padding: 2px;
  text-align: left;
}

thead th:nth-child(1) {
  width: 12%;
}

thead th:nth-child(2) {
  width: 15%;
}

thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 10%;
}
thead th:nth-child(5) {
  width: 10%;
}
thead th:nth-child(6) {
  width: 10%;
}
.cart-summary {
  border: solid 2px var(--color-input-border);

  padding: 2rem;
  margin-top: 2rem;

  display: flex;
  flex-wrap: wrap;
}
.cart-summary > p {
  flex-basis: 50%;
}
.cart-summary p:nth-child(even) {
  text-align: right;
}
.estimated-total {
  border-top: #00838d 1px solid;
}
.checkout-btn {
  text-align: right;
  flex-basis: 100%;
  padding-top: 2rem;
}
.checkout-btn button {
  background: var(--color-green);
  padding: 0.5rem 1rem;
}
.checkout-btn a {
  color: var(--color-main);
}
.cart-list-item form {
  display: inline;
}
/* checkout page */
.checkout-page {
  width: 100vw;
}
.checkout-container {
  width: 70%;
  margin: auto;
}
.checkout-header,
.checkout-items {
  padding: 1rem;
}
.checkout-items h5 {
  padding-bottom: 1rem;
}
.checkout-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout-bottom {
  text-align: center;
  border: solid 2px var(--color-green);
  width: 50%;
  margin: auto;
}

/* Media Query for Mobile Devices */
@media (max-width: 780px) {
  .table-data img,
  .checkout-item img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
  .cart-container,
  .clerk-table-container {
    width: 90%;
  }
  .cart-summary {
    width: 90%;
  }
  .cart-table {
    flex-basis: 100%;
  }
  .cart-list-table,
  .cart-summary,
  .checkout-item {
    font-size: 0.8rem;
  }

  .cart-summary {
    flex-basis: 100%;
  }

  /* checkout page */

  .checkout-container {
    width: 100%;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .content-container {
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 0;
  }
}
/* Media Query for tablet Devices */
@media (max-width: 760px) {
  .form-container {
    height: 100%;
  }

  form .user-details {
    flex-direction: column;
    align-items: center;
  }
  form .user-details .input-box {
    width: 90%;
  }
  #login-form form {
    width: 100%;
  }
}
@media (min-width: 761px) and (max-width: 1024px) {
  #login-form form {
    width: 70%;
  }
}
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1436px) {
  .form-container form {
    width: 50%;
  }
  form .user-details {
    justify-content: space-between;
    align-items: center;
  }
}
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 1024px) {
  .hero-container-2 {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .hero-column2 {
    flex: 1 1 300px;
  }

  .content-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .product-card {
    flex: 1 1 300px;
  }
  #login-form form {
    width: 100%;
  }
  .product-description {
    height: 9.5rem;
  }

  /* product description page */
  .main-product {
    flex-direction: column;
    justify-content: center;
  }
  .main-product .main-product-content {
    width: 100%;
    margin-top: 0;
    text-align: center;
  }
  .main-product img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  /* all products page */
  .main-content-container {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: auto;
  }
}
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .hero-container {
    width: 85%;
    margin: auto;
  }
  .hero-container-2 {
    width: 90%;
    margin: auto;
    padding-top: 2rem;

    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
  }

  .hero-column h1 {
    font-size: 1.7rem;
    font-weight: 800;
  }
  .hero-column p {
    font-weight: 400;
  }
  .hero-register-button {
    width: 100%;
  }

  .hero-column2 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .hero-container-3,
  .hero-container-3 img {
    display: none;
  }
  .content-container {
    width: 90%;
    margin: auto;
    padding-top: 2rem;

    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
  }

  .product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  /* product description page */
  .main-product {
    flex-direction: column;
    justify-content: center;
  }
  .main-product .main-product-content {
    width: 100%;
    margin-top: 0;
    text-align: center;
  }
  .main-product img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  /* all products page */
  .main-content-container {
    grid-template-columns: repeat(1, 4fr);
    grid-template-rows: auto;
  }
}
