@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-dominant: #041c32;
  --color-main: #dcf2ff;
  --color-accent: #dda01d;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-dominant);
  color: var(--color-main);
}
a {
  text-decoration: none;
  font-size: 18px;
  color: inherit;
}

li {
  list-style: none;
}
button {
  border: none;
  background-color: var(--color-accent);
}
/*Desktop specifications*/

/*   HEADER PART */
header {
  width: 100%;
  margin: auto;
  border: solid 1px var(--color-main);
  /* padding: 20px; */
}
.nav-list-container {
  width: 80%;
  margin: auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-main);
  padding: 20px;
}
.header-item {
  flex-basis: 60%;
}

.header-logo {
  font-size: 24px;
}
/* .nav-item{
} */
#log-in {
  border: 1px solid var(--color-main);
  padding: 5px 10px;
}
#sign-up {
  background-color: var(--color-accent);
  border-radius: 5%;
  padding: 5px 10px;
}

@media (max-width: 400px) {
  .nav-list-container > li {
    flex-basis: 100%;
  }
}
/*   HEADER PART ENDS */
/* HERO PART */
.hero-container {
  height: 70vh;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-container > div {
  height: 80%;
  color: var(--color-dark);
}
.hero-text-item {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.hero-img-item {
  width: 54%;
}
.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 0;
}
.hero-sec-text {
  font-size: 18px;
}
.hero-btn {
  background-color: #3882f6;
  color: #f9faf8;
  border: #3882f6;
  font-size: 18px;
  font-weight: bold;
  width: 120px;
  height: 30px;
  border-radius: 5px;
}
.hero-img-item > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5%;
}
/* HERO PART ENDS */

/* CONTENT PART */
.content-container {
  width: 80%;
  margin: auto;
  display: grid;
  align-items: center; /* centers column within a column */
  justify-items: center; /* centers column within a column */
  grid-template-columns: repeat(4, 0.5fr);

  /*shorthand:  rows defined before the slash, columns after*/
  /* grid-template: 50px 50px /  50px 50px;  */
  /* column-gap: 10px;
row-gap: 100px; */
}
.product-card {
  /* 
box-shadow:0px 0px 6px#343a40; */
  width: 95%;
  box-shadow: 0 2px 7px var(--color-main);
  margin: 50px auto;
  background: var(--color-main);
  padding-bottom: 3rem;
}
.product-card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.product-details {
  padding: 30px;
}
.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: var(--color-dominant);
  text-decoration: none;
  transition: 0.3s;
}
.product-details h4 a:hover {
  color: var(--color-accent);
}
.product-links {
  text-align: right;
}
.product-links a {
  float: right;
  margin-left: 5px;
  color: var(--color-dominant);
  transition: 0.3s;
  font-size: 17px;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 600;
}
.product-links a:hover {
  color: var(--color-accent);
}

.product-price {
  float: left;
  padding-top: 20px;

  font-size: 18px;
  color: var(--color-accent);
  font-weight: 600;
}

/* CONTENT PART ENDS */

/* FOOTER NAV PART */
/* footer{
} */
.copyright {
  text-align: center;
}
footer .even-columns {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  /* border: solid 1px black; */
  gap: 2%;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.footer-column {
  border: solid 1px red;
}
.footer-nav {
  columns: 2;
}
.footer-nav a:is(:hover, :focus) {
  color: var(--color-accent);
}

.social-list {
  display: flex;
  gap: 0.75rem;
}
.social-icon {
  width: 2rem;
}
.social-list a:is(:hover, :focus) .social-icon {
  fill: var(--bs-danger); /*doesn't work*/
}
@media (min-width: 50em) {
  .social-icon {
    width: 1.5em;
  }
}
/* FOOTER NAV PART ENDS*/

/* PRODUCTS PAGE*/

.iphone-grid,
.airpod-grid {
  width: 80%;
  margin: auto;
  display: grid;
  align-items: center; /* centers column within a column */
  justify-items: center; /* centers column within a column */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/* Product Page Ends */

/* Register Form Part */
.register-wrapper,
.login-wrapper {
  width: 30%;
  margin: auto;
  height: 100vh;
  /* margin-left: 5%; */
}
.register-title,
.login-title {
  margin: 1rem 0rem;
}
.register-form-description {
  margin-bottom: 2rem;
}
.form-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.form-grid-items input {
  width: 100%;
  height: 2rem;
  margin-top: 0.5rem;
  border: var(--color-main) 2px solid;
}
.form-grid-items label {
  font-weight: bold;
}
.form-grid-items input:focus {
  border: var(--color-dominant) 2px solid;
}
.button {
  width: 100%;
  height: 3rem;
  font-weight: bold;
  font-size: 1rem;
}
.form-error-msg {
  color: red;
  font-size: smaller;
}
/* Register Form Part Ends */

@media all and (max-width: 920px) {
  .nav-list-container {
    flex-wrap: wrap;
  }

  .nav-list-container > li {
    flex-basis: 40%;
    margin-bottom: 1rem;
  }
  .register-wrapper,
  .login-wrapper {
    width: 50%;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .content-container {
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 0;
  }
}
/* 
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  ...;  
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  ...;
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  ...;
} 
*/
